body {
    font-family: 'Open Sans', sans-serif !important;
}


.flexrow {
    display: flex !important;
    flex-direction: column !important;
}


@media screen and (min-width: 756px) {
    .paddingleft {
        margin-left: 47px;
    }

    .flexrow {
        display: flex !important;
        flex-direction: row !important;
    }


    .flexcol1 {
        display: flex !important;
        flex-direction: column !important;
        flex: 1;
    }

    .flexcol2 {
        display: flex !important;
        flex-direction: column !important;
        flex: 2;
    }

    .flexcol3 {
        display: flex !important;
        flex-direction: column !important;
        flex: 3;
    }

    .flexcol4 {
        display: flex !important;
        flex-direction: column !important;
        flex: 4;
    }

    .flexcol5 {
        display: flex !important;
        flex-direction: column !important;
        flex: 5;
    }

    .flexcol6 {
        display: flex !important;
        flex-direction: column !important;
        flex: 3;
    }

    .flexcol7 {
        display: flex !important;
        flex-direction: column !important;
        flex: 7;
    }

    .flexcol8 {
        display: flex !important;
        flex-direction: column !important;
        flex: 8;
    }

    .flexcol9 {
        display: flex !important;
        flex-direction: column !important;
        flex: 9;
    }

    .flexcol10 {
        display: flex !important;
        flex-direction: column !important;
        flex: 10;
    }

    .flexcol11 {
        display: flex !important;
        flex-direction: column !important;
        flex: 11;
    }

    .flexcol12 {
        display: flex !important;
        flex-direction: column !important;
        flex: 12;
    }

    .flexcol13 {
        display: flex !important;
        flex-direction: column !important;
        flex: 14;
    }


    .flex-h-center {
        align-items: center !important;
    }

    .flex-v-center {
        justify-content: center !important;
    }

}

.h-56 {
    height: 56px !important;
}

.b {
    border: 1px solid black;
}

.mt56 {
    top: 56px;
}

.introLogo {
    width: 100% !important;
    max-width: 700px !important;
    min-width: 300px !important;
}

.introText {
    width: 90% !important;
}

.introMargin {
    margin-top: 100px;
}

.arrowDown {
    margin-top: calc(45vh);
    height: 40vh;
}

.flex-v-end {
    justify-content: end;
}


.progress {
    height: 10px;
}

.progress-bar-striped {
    background-image: linear-gradient(45deg, rgba(78, 3, 3, 0) 25%, transparent 25%, #ff2e2e00 50%, rgba(255, 255, 255, .15) 50%, rgba(0, 0, 0, 0) 60%, transparent 75%, transparent) !important;
    background-size: 1rem 1rem !important;
}

.progress-bar {
    background: #222;
    width: 0;
    -webkit-animation: progress 1.5s ease-in-out forwards;
    animation: progress 1.5s ease-in-out forwards;
}

.progress-bar .title {
    opacity: 0;
    -webkit-animation: show 0.35s forwards ease-in-out 0.5s;
    animation: show 0.35s forwards ease-in-out 0.5s;
}

@-webkit-keyframes progress {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes progress {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@-webkit-keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.rotation {
    transform: rotate(-90deg);
    font-family: Lato, Helvetica, Roboto, sans-serif !important;
    color: #505050;
    letter-spacing: 3px;
}

a:hover {
    text-decoration: none !important;
}

a:hover div {
    border-bottom: 1px solid black !important;

    padding-bottom: 3px !important;
}


.spacebtw {
    justify-content: space-between;
}


.footerNav {
    background: #FFFFFF;

}


.footerNav p {

    z-index: 1 !important;
    position: fixed !important;
    bottom: 0 !important;
    width: 100%;
}


.selected {
    border-bottom: 1px solid #505050;
}

.selectedw {
    border-bottom: 1px solid #fff;
}

@media screen and (max-width: 756px) {
    .selected {
        border-bottom: 1px solid white;
    }

    .flexrow {
        display: flex !important;

    }


    .flexcol1 {
        display: flex !important;
        flex-direction: column !important;
        flex: 1;
    }

    .flexcol2 {
        display: flex !important;
        flex-direction: column !important;
        flex: 2;
    }

    .flexcol3 {
        display: flex !important;
        flex-direction: column !important;
        flex: 3;
    }

    .flexcol4 {
        display: flex !important;
        flex-direction: column !important;
        flex: 4;
    }

    .flexcol5 {
        display: flex !important;
        flex-direction: column !important;
        flex: 5;
    }

    .flexcol6 {
        display: flex !important;
        flex-direction: column !important;
        flex: 3;
    }

    .flexcol7 {
        display: flex !important;
        flex-direction: column !important;
        flex: 7;
    }

    .flexcol8 {
        display: flex !important;
        flex-direction: column !important;
        flex: 8;
    }

    .flexcol9 {
        display: flex !important;
        flex-direction: column !important;
        flex: 9;
    }

    .flexcol10 {
        display: flex !important;
        flex-direction: column !important;
        flex: 10;
    }

    .flexcol11 {
        display: flex !important;
        flex-direction: column !important;
        flex: 11;
    }

    .flexcol12 {
        display: flex !important;
        flex-direction: column !important;
        flex: 12;
    }

    .flexcol13 {
        display: flex !important;
        flex-direction: column !important;
        flex: 14;
    }


    .flex-h-center {
        align-items: center !important;
    }

    .flex-v-center {
        justify-content: center !important;
    }


    .marginTop {
        margin-top: 110px !important;
    }


    .pl-3 {
        padding-left: 0 !important;
    }

    .pr-3 {
        padding-right: 0 !important;
    }

    .pl-4 {
        padding-left: 0 !important;
    }

    .pr-4 {
        padding-right: 0 !important;
    }

    .overfl {
        overflow: hidden !important;
    }


}

.__react_modal_image__header {
    position: fixed !important;
    top: 0 !important;
    width: 100% !important;
    background-color: rgba(0, 0, 0, 0.7) !important;
    overflow: hidden !important;
    margin-top: 56px;
}

.smallNav a {
    color: #FFFFFF;
    text-decoration: none !important;
}

.smallNav a span {
    display: block;
}


nav a, a:hover, a:active, a:visited, a:focus {
    text-decoration: none;
}


.headlines {
    border-bottom: 1px solid black !important;
    letter-spacing: 3px
}

.modal-dialog {
    margin: 0;
    margin: 0 auto;
    max-width: 100vw !important;
}

.modal-content {
    margin: 0 auto;
    width: 60vw !important;
}

.fullscreen {
    margin-top: 43px;
    max-width: 50vw !important;
}

.imgModalHead {
    background: black !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    z-index: 200 !important;
}

.modal-open {
    padding: 0 !important;
}
