.logo{
    width: 30px;    
    margin-left: 20px;
}

.title{

}

.line-dark{
    font-size: 32px;
    transform: scale(.5, 1);
}

@media screen and (min-width: 756px) {
    .borderb{
        border-bottom: 1px solid #dee2e6!important;
    }
    .bordert{
        border-top: 1px solid #dee2e6!important;
    }
}


@media screen and (max-width: 755px) {
    .title{
        display: none !important;
    }

    .borderb{
        border-bottom: 0;
    }
    .bordert{
        border-bottom: 0;
    }


}